.donate {
    border: 1px solid black;
    width: fit-content;
    height: 30%;
    display: block;
    margin-top: 100px;
    margin-left: 100px;
  }
  
  @media screen and (min-width: 480px) {
    .donate {
      margin-left: 450px;
      width: fit-content;
    }
  }
  td {
    padding: 10px;
  }
  
  @media screen and (min-width: 600px) {
    input[type="text"],
    input[type="tel"] {
      width: 400px;
      width: 300px !important;
      border: 2px solid lightgray;
      border-radius: 2px;
    }
  }
  
  span{
    display: inline;
    
  }

  input[type="radio"]{
    width: 10px;
  }